* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
  font-family: "Noto Sans", sans-serif;
}

.button {
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  line-height: 160%;

   color: #fff;
  background-color: #3a71d1;
  padding: 25px 60px;

  border: none;

  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


/*************** HEADER ***************/
.header {
  min-height: 98vh;
  padding-top: 94px;
}
.header-image {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
  display: flex;
  align-items: center; 

  color: #fff;
  height: 94px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  color: #292d33;
  background-color: #fff;
  height: 72px;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 31px 0 35px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;

  display: flex;
  list-style: none;

  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  font-size: 16px;
  text-decoration: none;
  margin-right: 51px;
  color: inherit;
  letter-spacing: 0.1px;
}
.header-phone {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-right: 52px;
}
.header-phone-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
.navbar-button {
  height: 100%;
  /* padding: 25px 45px; */

  padding: 25px 38px 25px 52px;

  flex-shrink: 0;  
}


/*************** HEADER-CONTENT ***************/
.header-container {
  padding-left: 10px;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.seporator {
  width: 150px;
  height: 2px;
  background: #5C8EE5;
}
.header-title {
  max-width: 1080px;

  font-family: 'Bebas Neue';

  font-size: 79px;
  line-height: 120%;

  margin: 23px 0 40px 0;

  letter-spacing: 0.9px;
}
.header-text {
  max-width: 720px;

  font-size: 16px;
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 50px;

  letter-spacing: 0.1px;
}
.header-button {
  padding: 26px 60px;
}

/*************** HEADER-FEATURES ***************/
.header-features {
  min-height: 168px;

  display: flex;

  padding: 0;
  margin-top: 99px;

  list-style: none;
  color: #fff;

  position: relative;
}
.header-features-item {
  width: 287px;
  padding: 30px 50px 10px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.header-features-text {
  font-size: 16px;
  line-height: 160%;
}



/*************** SECTION-LIGHT ***************/
.section {
  margin: 150px 0;
}
.section-container {
  padding-left: 9px;
}
.section-title {
  font-family: 'Bebas Neue';
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
  margin-top: 24px;
  margin-bottom: 53px;
}
.steps {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.steps-item {
  max-width: 330px;
}
.steps-num {
  font-family: 'Bebas Neue';
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;

  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebf0;
  margin-left: 30px;
}
.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin-top: 32px;
  margin-bottom: 13px;
}
.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin-top: 10px;
  margin-bottom: 21px;
}
.steps-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee5;
  text-decoration: none;

  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #5c8ee5;
  margin-right: 20px;
}